.wem_module .content_container{padding:15px;}
.wem_module .content_container h2{margin-bottom:1em;}
.wem_module .content_container ul{margin-left:1em;}
.wem_module .content_container ul,
.wem_module .content_container li{list-style-type:disc !important;}

#tl_wem_sg_install *{box-sizing:border-box;}
#tl_wem_sg_install .blocks{display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;border-bottom:5px solid #f3f3f5;padding-bottom:1em;margin-bottom:1em;}
#tl_wem_sg_install .blocks:last-of-type{padding-bottom:0;margin-bottom:0;border:none;}
#tl_wem_sg_install .blocks .block{width:calc(50% - 30px);margin:15px;border:1px solid #f3f3f5;position:relative;}
#tl_wem_sg_install .blocks .block.hasActions{padding-bottom:50px;}
#tl_wem_sg_install .blocks .block .title{background:#f3f3f5;padding:12px 15px 12px 55px;position:relative;}
#tl_wem_sg_install .blocks .block .title i{position:absolute;left:0;top:0;width:40px;height:40px;display:block;color:#fff;text-align:center;line-height:40px;}
#tl_wem_sg_install .blocks .block.core .title i{background-color:#f47c00;}
#tl_wem_sg_install .blocks .block.module .title i{background-color:#172b3b;}
#tl_wem_sg_install .blocks .block.addon .title i{background-color:#2ecc71;}
#tl_wem_sg_install .blocks .block .tl_submit_container{position:absolute;bottom:0;width:100%;}
#tl_wem_sg_install .blocks .block .loader{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);text-align:center;transition:visibility 0s, opacity 0.5s linear;visibility:hidden;display:flex;flex-direction:column;justify-content:center;color:#fff;z-index:2;opacity:0;}
#tl_wem_sg_install .blocks .block .loader.active{visibility:visible;opacity:1;}