#tl_navigation .tl_level_1_group .group-newsletters {
    background: url(../icons/icon_newsletters.png) 3px 0px no-repeat;
    background-size:13px auto;
}

.console {
    background-color: black;
    color: white;
    padding: 1em;
}

.tl_optionwizard--fullwidth{
    max-width: 100%;
}

.tl_optionwizard--custom td:nth-child(n+3)
{
    width:33%;
}

.tl_optionwizard--custom td:nth-child(n+4){
    width: 1%;
    white-space: nowrap;
}