#tl_navigation .tl_level_1_group .group-newsletters {
    background: url(../icons/icon_newsletters.png) 3px 0px no-repeat;
    background-size:13px auto;
}

.console {
    background-color: black;
    color: white;
    padding: 1em;
}