#tl_navigation .group-newsletters {
    background: url(../icons/icon_newsletters.png) 3px 0px no-repeat;
    background-size:13px auto;
}

#tl_navigation .group-wem_smartgear {
    background: url(../../../system/themes/flexible/icons/wrench.svg) 3px 2px no-repeat;
}

#tl_navigation .group-wem_extranet {
    background: url(../../../system/themes/flexible/icons/person.svg) 3px 2px no-repeat;
}

.console {
    background-color: black;
    color: white;
    padding: 1em;
}

.tl_optionwizard--fullwidth{
    max-width: 100%;
}

.tl_optionwizard--custom td:nth-child(n+3)
{
    width:33%;
}

.tl_optionwizard--custom td:nth-child(n+4){
    width: 1%;
    white-space: nowrap;
}

/*.form_data_manager_table table,*/
.form_data_manager_table table th,
.form_data_manager_table table td
{
    border: 1px solid black;
    border-collapse: collapse;
}

.form_data_manager_table table th,
.form_data_manager_table table td
{
    padding: 5px;
}

.header_button{
    padding: 3px 0 3px 16px;
    background-position: left center;
    background-repeat: no-repeat;
    margin-left: 12px;
}

.header_sg_cache_clear{
    background-image: url('../../../system/themes/flexible/icons/sync.svg');
}

.header_sg_configuration{
    background-image: url('../../../system/themes/flexible/icons/wrench.svg');
}

.header_sg_backup{
    background-image: url('../../../system/themes/flexible/icons/filemanager.svg');
}

.header_sg_update{
    background-image: url('../../../system/themes/flexible/icons/changelog.svg');
}
